.JoinPage {
  background-color: rgb(150, 111, 111);
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.3);
}

.JoinContainer > h1 {
  margin: 10px;
  color: white;
  font-size: 2vmax;
  border-bottom: 0.2vmax solid white;
  width: 25vmax;
  text-align: center;
  padding: 0.5vmax;
  font-family: "Roboto";
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  margin: 1.5vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  box-sizing: border-box;
  transition: all 0.3s;
}

.joinbtn {
  width: 25vmax;
  margin: 0.1vmax;
  padding: 1.5vmax;
  color: white;
  font-family: "Roboto";
  border: none;
  outline: none;
  font-size: 1.3vmax;
  background-color: rgb(150, 93, 225);
  box-sizing: border-box;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: rgb(123, 40, 231);
}
